body {
    margin: 0px;
}


/* register section style */

#register-section {
    width: 100%;
    min-height: 450px;
}


/* container style for both sections */

.container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
}


/* chagne form span style */

#account-span {
    color: #0000ff;
    cursor: pointer;
    text-decoration: underline;
}


/* login section style */

#login-section {
    width: 100%;
    min-height: 450px;
    visibility: hidden;
}